:root {
  --color-primary: #3a71aa;
  --color-secondary: #3e79b5;
  --color-secondary-with-opacity: rgba(62, 121, 181, 0.5);
  --color-background: #f8f8f8;
  --color-hover: #4dc5f5;
}

* {
  font-family: open-sans, sans-serif;
  margin: 0;
  height: 100%;
  background-color: var(--color-background);
}

html {
  width: 100%;
  height: 100%;
}
body {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

header {
  position: fixed;
}

main {
margin-top: 5rem;
}

/******************/
/* Hamburger menu */
/******************/

#hamburger_toggle {
  position: fixed;
  z-index: 100;
  height: 72px;
  width: 72px;
  border: none;
}

#hamburger_toggle img {
  aspect-ratio: 1;
  width: 48px;
  background-color: inherit;
}

#hamburger {
  position: fixed;
  display: none;
}

#hamburger nav {
  background-color: var(--color-primary);
  padding-top: 10vh;
  position: inherit;
  width: inherit;
  min-width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hamburger nav a {
  background-color: inherit;
  margin-left: 75px;
  margin-right: 75px;
  height: min-content;
}

#hamburger nav a img {
  background-color: inherit;
  aspect-ratio: 1;
  height: 20vh;
}

#hamburger nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: max-content;
  list-style-type: none;
  background-color: inherit;
}

#hamburger nav ul li {
  display: flex;
  justify-content: center;
  background-color: inherit;
  margin: 1rem;
}

#hamburger nav ul li a {
  color: white;
}

#hamburger #log_out {
  display: inline-block;
  border-radius: 4px;
  background-color: #000;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/******************/

footer {
  width: 100%;
  height: 3rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
