main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

main h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
  height: max-content;
  width: 100%;
}

#hamburger_toggle {
  position: fixed;
  z-index: 100;
  height: 72px;
  width: 72px;
  border: none;
}

#hamburger_toggle img {
  aspect-ratio: 1;
  width: 48px;
  background-color: inherit;
}

#hamburger {
  position: fixed;
  /* display: none; */
}

#hamburger nav {
  background-color: var(--color-primary);
  padding-top: 10vh;
  position: inherit;
  width: inherit;
  min-width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hamburger nav a {
  background-color: inherit;
  margin-left: 75px;
  margin-right: 75px;
  height: min-content;
}

#hamburger nav a img {
  background-color: inherit;
  aspect-ratio: 1;
  height: 20vh;
}

#hamburger nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: min-content;
  list-style-type: none;
  background-color: inherit;
}

#hamburger nav ul li {
  display: flex;
  justify-content: center;
  background-color: inherit;
  margin: 1rem;
}

#hamburger nav ul li a {
  color: white;
}

#voice {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 2em;
}

#voice #record {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  border-color: transparent;
  align-self: center;
  max-width: 150px;
  max-height: 150px;
  margin: auto;
}

#voice #record:hover {
  background-color: var(--color-hover);
}

#text {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  height: min-content;
  width: 100%;
}

.column {
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: min-content;
}

#text div button {
  border-radius: 0.5rem;
  border-color: transparent;
  background-color: var(--color-secondary);
  height: 48px;
  width: 66px;
}

#text div button img {
  height: 24px;
  background-color: transparent;
  aspect-ratio: 1;
}

#transcribed-output {
  border-radius: 0.5rem;
  border-color: transparent;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  overflow-y: scroll;
  border-color: black;
  resize: none;
}

.selector {
  width: max-content;
  height: 48px;
  min-height: 48px;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border-color: transparent;
  background-color: var(--color-secondary);
}
